<div class="form-group row" id="form-food">
    <div class="col-sm-6">
        <label class="col-sm-12 col-form-label" aria-disabled="">Id</label>
        <div class="col-sm-12">
            <input disabled type="text" class="form-control" [(ngModel)]="id" placeholder="Id">
        </div>
        <label class="col-sm-12 col-form-label" id="lblTitle">Title</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="txtTitle" id="txtTitle" [(ngModel)]="title"
                #txtTitle="ngModel" required autocomplete="off" required aria-describedby="lblName"
                placeholder="Title...">
            <div *ngIf="txtTitle.invalid && (txtTitle.dirty || txtTitle.touched)">This field is
                required
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <label class="col-sm-12 col-form-label" required autocomplete="off">Image URL</label>
        <div class="col-sm-12">
            <input type="text" name="txtImg" id="txtImg" class="form-control" [(ngModel)]="imgSource"
                placeholder="URL..." #txtImg="ngModel" required>
            <div *ngIf="txtImg.invalid && (txtImg.dirty || txtImg.touched)">This field is
                required
            </div>
        </div>
        <label class="col-sm-12 col-form-label" required autocomplete="off">Description</label>
        <div class="col-sm-12">
            <input type="text" name="txtDesc" id="txtDesc" class="form-control" [(ngModel)]="desc"
                placeholder="Description..." #txtDesc="ngModel" required>
            <div *ngIf="txtDesc.invalid && (txtDesc.dirty || txtDesc.touched)">This field is required
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="refreshFood()">Clear</button>
    <button type="button" class="btn btn-primary" (click)="addFood()" *ngIf="food.id==0">Add New Food</button>
    <button type="button" class="btn btn-primary" (click)="editFood()" *ngIf="food.id!==0">Update Food</button>
</div>
